#popUp {
  display: flex;
  justify-content: center;
}

#popUp div {
  padding: 1rem;
  border-radius: 1rem;
  font-style: italic;
  font-weight: 300;
}

/*----- Pop-up Type Styling -----*/
.popUp-success {
  background-color: var(--popUp-success-color);
}

.popUp-error {
  background-color: var(--popUp-error-color);
}
/*----- /Pop-up Type Styling -----*/